* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.hero {
  position: absolute;
  z-index: 0;
  width: 90vw;
  top: 140px;
  height: 85vh;
}

.budget-buddy-main {
  overflow: hidden;
}

header {
  margin: 2%;
  padding: 1%;
  position: relative;
}

.footer {
  margin: 0px;
  position: fixed;
  text-align: center;
  background-color: green;
  color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 20px;
  vertical-align: auto;
  line-height: 20px;
  border-radius: 20px 20px 0px 0px;
}

.side-nav {
  position: fixed;
  right: 15px;
  top: 78%;
  transform: translateY(-50%);
  max-height: 90vh;
  z-index: 1000;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  list-style: none;
  max-height: 90vh;
}

.nav-li {
  text-decoration: none;
  padding: 12%;
  margin: 18%;
}

.nav-link {
  position: relative;
  display: flex;
  align-items: center;
  width: 74px;
}

.nav-icon {
  width: 100%;
  z-index: 2;
  transition: transform 0.25s ease;
}

.nav-text {
  position: absolute;
  right: 80px;
  opacity: 0;
  transform: translateX(10px);
  white-space: nowrap;
  transition:
    opacity 0.5s ease,
    transform 0.25s ease;
  pointer-events: none;
  color: green;
  font-weight: bold;
}

.nav-link:hover .nav-icon {
  transform: scale(1.15);
}

.nav-link:hover .nav-text {
  opacity: 1;
  transform: translateX(0);
}

.budget-buddy {
  color: darkgreen;
  padding: 0px;
  font-size: 6rem;
}

.start-button {
  position: relative;
  padding: 16px 50px;
  font-size: 1.5rem;
  border: 4px solid darkgoldenrod;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
  color: darkgoldenrod;
}

.start-button:hover {
  color: darkgreen;
  border: 2px solid rgba(47, 177, 30, 0.5);
  background: linear-gradient(
    215deg,
    rgba(222, 222, 222, 1) 0%,
    rgba(159, 209, 183, 1) 55%,
    rgba(187, 250, 160, 1) 100%
  );
}

.budget-spreadsheets-title {
  text-align: center;
  padding: 0%;
  font-size: 4rem;
  margin: 1% 0% 0% 0%;
  color: whitesmoke;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-to-index {
  text-decoration: none;
  position: absolute;
  top: 2%;
  left: 2%;
}

.nav-to-index img {
  width: 10%;
}

#advanced-card {
  background-color: #fdfa4d;
}

.transaction-card #ultimate {
  transform: scale(1.05);
}

.transaction-options {
  width: 100vw;
}

.transaction-card {
  background-color: whitesmoke;
  color: darkgreen;
  box-shadow: 10px 10px black;
  position: relative;
  width: 28%;
  border-radius: 20px 20px;
  overflow: hidden;
  display: inline-block;
  margin: 2%;
  padding: 1%;
  transition: 0.5s ease;
}

.transaction-card:hover {
  transform: scale(1.05);
  box-shadow: 18px 18px black;
}

.transaction-card img {
  width: 90%;
  border-radius: 20px 20px;
  margin: 5%;
  padding: 0px;
}

.transaction-card div.ribbon1 {
  position: absolute;
  top: 1%;
  right: -8%;
  background-color: darkgreen;
  color: rgba(0, 0, 0, 0);
  transform: rotate(45deg);
  border-radius: 24px;
}

.transaction-card div.ribbon2 {
  position: absolute;
  bottom: 1%;
  right: -8%;
  background-color: darkgreen;
  color: rgba(0, 0, 0, 0);
  transform: rotate(135deg);
  border-radius: 24px;
}

.transaction-card div.ribbon3 {
  position: absolute;
  top: 1%;
  left: -8%;
  background-color: darkgreen;
  color: rgba(0, 0, 0, 0);
  transform: rotate(-45deg);
  border-radius: 24px;
}

.transaction-card div.ribbon4 {
  position: absolute;
  bottom: 1%;
  left: -8%;
  background-color: darkgreen;
  color: rgba(0, 0, 0, 0);
  transform: rotate(225deg);
  border-radius: 24px;
}

.transaction-card h1 {
  text-align: center;
  padding: 4%;
  margin: 0%;
  line-height: 0px;
  font-size: 2.25rem;
  text-transform: uppercase;
}

.transaction-card p {
  margin: 5% 5% 5% 5%;
  flex-grow: 1;
}

.transaction-card button {
  text-align: center;
  background: linear-gradient(
    90deg,
    #ffd700 0%,
    #ffc300 25%,
    #ffb000 50%,
    #cc9900 75%,
    #ffd700 100%
  );
  color: rgb(100, 100, 82);
  position: absolute;
  text-decoration: none;
  border-radius: 16px;
  padding: 2%;
  font-size: 1.25rem;
  transition: 0.8s ease;
  bottom: 4%;
  right: 4%;
}

.transaction-card button::before {
  content: "Buy! ";
}

.transaction-card button:hover {
  box-shadow: 5px 5px black;
  cursor: pointer;
}

.transaction-background {
  background-color: rgb(137, 223, 137);
  color: darkgreen;
}

.transaction-card ul {
  list-style-type: none;
  margin: 2%;
  padding: 2%;
}

.transaction-card ul li {
  font-size: 1.25rem;
}

.learn-more-main {
  position: absolute;
  left: 0.5%;
  height: 68vh;
  top: 25%;
  width: 86vw;
  background: linear-gradient(
    215deg,
    rgba(222, 222, 222, 1) 0%,
    rgba(159, 209, 183, 1) 55%,
    rgba(187, 250, 160, 1) 100%
  );
  border-radius: 25px;
  padding: 2%;
  overflow: auto;
  color: rgb(27, 97, 27);
  scroll-behavior: smooth;
}

.learn-more-main section h2 {
  font-size: 3rem;
  padding: 2% 1%;
  margin: 1%;
  color: #f4fdff;
}

.learn-more-main section p {
  font-size: 1.25rem;
  padding: 0% 4%;
  margin: 0px;
}

.learn-more-main section h3 {
  padding: 1% 4%;
  margin: 0px;
  font-size: 1.5rem;
}

.learn-more-main::-webkit-scrollbar {
  display: none;
}

.learn-more-nav {
  position: absolute;
  right: 0.5%;
  height: 68vh;
  top: 25%;
  width: 12.5vw;
  background: linear-gradient(
    215deg,
    rgba(222, 222, 222, 1) 0%,
    rgba(159, 209, 183, 1) 55%,
    rgba(187, 250, 160, 1) 100%
  );
  border-radius: 25px;
  padding: 0%;
}

.learn-more-nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.learn-more-nav ul li {
  padding: 3%;
  margin: 32% 0%;
  border-radius: -50px;
  transition: 1.5s ease;
}

.learn-more-nav ul li a {
  text-decoration: none;
  color: darkgreen;
  text-transform: uppercase;
  transition: 0.5s ease;
}

.learn-more-nav ul li:hover {
  background-color: whitesmoke;
}

.learn-more-nav ul li a:hover {
  color: darkgoldenrod;
}

.learn-more-adjust {
  overflow: hidden;
}
